/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0; /* Fix to the top of the viewport */

  border-bottom: 2px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;
    margin-left: 0px; /* Align with the left table of contents */
    
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

/* Adjust width of masthead menu rectangle */
body.dark-mode .masthead__menu {
  max-width: fit-content; /* Ensure rectangle matches link content width */
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

/* Add dark mode styles for masthead */
body.dark-mode .masthead {
  background-color: $background-dark !important; /* Ensure masthead adapts to dark mode */
  color: $text-dark !important; /* Ensure text color adapts */
  border-bottom: 2px solid $border-color !important; //1px solid $text-dark !important; /* Add border for visibility */
}

body.dark-mode .masthead__inner-wrap {
  background-color: #121212; /* Dark background */
  color: #eee;          /* Light text */
  // background-color: $background-dark !important; /* Ensure inner wrap adapts to dark mode */
}

/* Ensure link rectangle adapts to dark mode */
body.dark-mode .masthead__menu-item {
  background-color: #121212; /* Match dark rectangle */
  color: #eee; /* Light text */
}

/* Ensure link text color adapts to dark mode */
body.dark-mode .masthead__menu-item a {
  color: inherit !important; /* Inherit text color from parent */
}