---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <!-- Add a button to toggle dark mode -->
    <button id="dark-mode-toggle" style="position: fixed; top: 10px; right: 10px;">Toggle Dark Mode</button>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    
    {% include scripts.html %}
    
  </body>
</html>
